/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 1000px; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

  /* Style the submit button with a specific background color etc */
.video_button,.news_button{
    background-color: #ffc107;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  /* When moving the mouse over the submit button, add a darker green color */
.video_button,.news_button:hover {
    background-color: #ffc107;
  }

  /* Add a background color and some padding around the form */
.containerr {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
  }
#id_video_type {
        width: 180px;  /* Adjust the width as needed */
    }
#id_title {
        width: 1000px;  /* Adjust the width as needed */

  }
#id_thumbnail {
        width: 1000px;  /* Adjust the width as needed */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical;
  }
#id_video_url {
        width: 1000px;  /* Adjust the width as needed */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical;
  }
#id_video_date{
      font-size: larger;
  }
    /* Style the entire select dropdown */
select#id_video_type {
        font-size: 20px; /* Adjust the font size as needed */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px; /* Adjust the width as needed */
    }

    /* Style the options */
select#id_video_type option {
        font-size: 20px; /* Adjust the font size as needed */
    }
.id_subtitle{
    width: 200px;
}
textarea {
    width: 1000px; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    vertical-align: top;
    height: 100px;
}
#id_poster, #id_image1, #id_image2, #id_image3{
    width: 1000px; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    vertical-align: center;
}
#id_date{
      font-size: larger;
  }
