<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Cricket - {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="{% static 'cricketlive/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,700&family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Teko:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'cricketlive/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'cricketlive/css/style.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cricketlive/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cricketlive/css/owl.theme.default.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'cricketlive/css/animate.min.css' %}"/>
    <link rel="stylesheet" type="{% static 'cricketlive/css/jquery.fancybox.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">

      {% block css %}{% endblock css %}
      <style>
          header .navbar {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
      </style>
    {% block css_internal %}{% endblock css_internal %}
  </head>

<body>

  <header class="float-start w-100">
    <div class="top-new-heda d-none d-lg-inline-block w-100">
     <div class="container">
       <div class="row row-cols-2 align-items-center">
           <div class="col">
              <ul class="left-oiu">
               <li>
                 <a href="#">
                    <img alt="tn" src="{% static 'cricketlive/images/wcw.png' %}"/>
                 </a>
                 <a href="#" class="ms-4">
                   <img alt="tn" src="{% static 'cricketlive/images/wpl-logo.svg' %}"/>
                 </a>
               </li>
              </ul>
           </div>
           <div class="col d-grid justify-content-end">
              <ul class="top-socli d-flex align-items-center">

              </ul>
           </div>
       </div>
     </div>
    </div>
     <nav class="navbar navbar-expand-lg navbar-light">
       <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img style="width: 100px; height: auto;" src="{% static 'cricketlive/images/logo(9).png' %}" alt="logo"/>
        </a>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'match' %}">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'videos' %}">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'stats' %}">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'news' %}">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'teams' %}">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'live' %}">Live</a>
            </li>
              {% block navbar %}{% endblock navbar %}
          </ul>

         </div>
         <div class="right-top">
           <ul class="d-flex align-items-center">
             <li class="dropdown position-relative">
               <ul class="dropdown-menu shadow cart-dropdown-ne" >
                 <li>
                 </li>
                   <li>
                 </li>
               </ul>
             </li>
               <li>
                   {% block back %}{% endblock back %}
               </li>
             <li>
                 {% block logout %}{% endblock logout %}
             </li>
             <li>
               <button type="button" class="btn bar-btn-links" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightmobile">
                  <span>
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                     <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
                   </svg>
                  </span>
               </button>
              </li>
           </ul>
         </div>
       </div>
     </nav>
    </header>
{% block sub_banner %}
<section class="banner-part sub-main-banner float-start w-100">

          <div class="baner-imghi">
             <img src="{% static 'cricketlive/images/sub-banner01.jpg' %}" alt="sub-banner"/>
          </div>

            <div class="sub-banner">
                <div class="container">
                    <h1 class="text-center">{% block image_bar1 %}{% endblock image_bar1 %}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">{% block image_bar2 %}{% endblock image_bar2 %}</li>
                        </ol>
                    </nav>
               </div>
            </div>
</section>
{% endblock sub_banner %}

{% block content %}{% endblock content %}

<footer class="float-start w-100">
  <div class="container">
   <div class="topls-paly d-inline-block">
     <h5 class="text-white"> Trending Players </h5>
     <ul>
       <li>
         <a href="{% url 'player_details' pk=348144 %}" class="btn"> Babar Azam </a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=253802 %}" class="btn"> Virat Kohli</i></a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=446507 %}" class="btn"> Suryakumar yadav</a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=325026 %}" class="btn"> Glen Maxwell </a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=34102 %}" class="btn"> Rohit Sharma </a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=530011 %}" class="btn"> Travis Head </a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=959767 %}" class="btn"> Rachin Ravindra </a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=219889 %}" class="btn">  David Warner </a>
       </li>
       <li>
         <a href="{% url 'player_details' pk=379143 %}" class="btn"> Quinton de Kock </a>
       </li>
     </ul>
   </div>

   <hr/>
     <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 gy-4 gy-lg-0">
         <div class="col">
            <div class="comonft-sec d-inline-block w-100">
                <h5 class="text-white"> Team </h5>
                <ul>
                 <li>
                   <a href="{% url 'teams_details' pk=5 %}"> Australia </a>
                 </li>
                 <li>
                   <a href="{% url 'teams_details' pk=6 %}"> England </a>
                 </li>
                 <li>
                   <a href="{% url 'teams_details' pk=1 %}"> India </a>
                 </li>
                 <li>
                   <a href="{% url 'teams_details' pk=8 %}"> New Zealand </a>
                 </li>
                 <li>
                   <a href="{% url 'teams_details' pk=7 %}"> South Africa </a>
                 </li>
                 <li>
                   <a href="{% url 'teams_details' pk=4 %}"> Sri Lanka </a>
                 </li>
                 <li>
                   <a href="{% url 'teams_details' pk=9 %}"> Afghanistan </a>
                 </li>
                </ul>
            </div>
         </div>

         <div class="col">
           <div class="comonft-sec d-inline-block w-100">
               <h5 class="text-white"> About </h5>
                  <ul>
                    <li class="active-m">
                      <a href="{% url 'home' %}"> Home </a>
                    </li>
                    <li class="active-m">
                      <a href="{% url 'about' %}"> About </a>
                    </li>
                    <li>
                      <a href="{% url 'match' %}">  Matches  </a>
                    </li>
                    <li>
                      <a href="{% url 'videos' %}"> Videos </a>
                    </li>
                    <li>
                      <a href="{% url 'stats' %}">Stats</a>
                    </li>
                    <li>
                      <a href="{% url 'news' %}">News</a>
                    </li>
                    <li>
                      <a href="{% url 'teams' %}">Teams</a>
                    </li>
                    <li>
                      <a href="{% url 'live' %}"> Live </a>
                    </li>
                  </ul>
           </div>
         </div>



         <div class="col d-grid justify-content-lg-end">
           <div class="comonft-sec d-inline-block w-100">
               <h5 class="text-white"> Support </h5>
               <ul>
                <li>
                  <a href="#"> Help Center </a>
                </li>
                <li>
                  <a href="{% url 'privacy_policy' %}"> Privacy & Policy </a>
                </li>
                <li class="mt-4">
                 <a href="#" class="fl">
                   <img alt="st" src="{% static 'cricketlive/images/appleo.jpg' %}">
                 </a>
                </li>
                <li>
                 <a href="#" class="fl">
                   <img alt="st" src="{% static 'cricketlive/images/go.jpg' %}">
                 </a>
                </li>


               </ul>
           </div>
         </div>
     </div>
  </div>

  <div class="footer-div1 mt-4">
   <div class="container">
     <div class="row row-cols-1 row-cols-md-2 text-center text-md-start gy-4 gy-lg-0 justify-content-center justify-content-md-between">
         <div class="col">
           <p class="text-white"> Copyright © 2024.All Rights Reserved </p>
         </div>
         <div class="col d-grid justify-content-lg-end">
           <ul>
             <li>
               <a href="#"> Privacy Policy </a>
               <a href="{% url 'privacy_policy' %}"> Term Of Service </a>
               <a href="#">Disclaimer </a>
             </li>
           </ul>
         </div>
     </div>


   </div>
 </div>
</footer>


<div class="offcanvas offcanvas-end" id="offcanvasRightmobile" >
  <div class="offcanvas-header py-0">
    <button type="button" class="close-menu mt-4" data-bs-dismiss="offcanvas" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="head-contact d-none d-lg-block">
        <a href="index.html" class="logo-side">
           <img width="80px" src="{% static 'cricketlive/images/logo(9).png' %}" alt="logo">
        </a>
        <p class="mt-4" style="text-align: justify;"> Welcome to <b>6s Cricket</b>, your ultimate destination for all things cricket! We're here to make your cricket experience exciting and accessible. Watch live matches, stay updated with scores, and explore in-depth team details. Dive into the world of cricket news, relish highlights through videos, and check out player stats. At <b>6s Cricket</b>, we're passionate about cricket, and our goal is to bring that passion to you in a simple, enjoyable way. Join us in celebrating the thrill of the game as we connect cricket enthusiasts worldwide.
        </p>
     </div>

     <div class="head-contact d-block d-lg-none">
        <a href="{% url 'home' %}" class="logo-side">
          <img style="width: 100px; height: auto;" src="{% static 'cricketlive/images/logo(9).png' %}" alt="logo"/>
        </a>

        <div class="mobile-menu-sec mt-3">
          <ul>
            <li class="active-m">
              <a href="{% url 'home' %}"> Home </a>
            </li>
            <li class="active-m">
              <a href="{% url 'about' %}"> About </a>
            </li>
            <li>
              <a href="{% url 'match' %}">  Matches  </a>
            </li>
            <li>
              <a href="{% url 'videos' %}"> Videos </a>
            </li>
            <li>
              <a href="{% url 'stats' %}">Stats</a>
            </li>
            <li>
              <a href="{% url 'news' %}">News</a>
            </li>
            <li>
              <a href="{% url 'teams' %}">Teams</a>
            </li>
            <li>
              <a href="{% url 'live' %}"> Live </a>
            </li>
          </ul>
        </div>
        <div class="quick-link">
          <ul>
            <li> <i class="fab fa-whatsapp"></i> <span> 180-250-9625 </span>  </li>
            <li> <i class="bi bi-envelope"></i> <span> example@gmail.com</span> </li>
          </ul>
        </div>
        <ul class="side-media">
         <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
      </ul>
     </div>
  </div>
</div>

<div class="modal fade login-div-modal" id="lostpsModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <form action="index.html" method="get">
              <div class="com-div-md">
                <h5 class="text-center mb-3"> Forget Your Password? </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
                <div class="login-modal-pn">
                <p> We'll email you a link to reset your password</p>
                <div class="cm-select-login mt-3">

                  <div class="phone-div">

                      <input type="email" name="email" class="form-control" placeholder="Enter Your Email" required />
                  </div>


                </div>



                <button type="submit" class="btn continue-bn"> Send Me a password reset Link </button>
              </div>

              </div>
          </form>
        </div>

      </div>
    </div>
  </div>



  <div class="modal fade login-div-modal" id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">

           <form action="index.html" method="get">
              <div id="login-td-div" class="com-div-md">

                <h5 class="text-center mb-3"> Login </h5>
                <button type="button" class="close" data-bs-dismiss="modal">
                <span>×</span>
              </button>
                <div class="login-modal-pn">

                <div class="cm-select-login mt-3">
                  <div class="country-dp">

                    <input type="email" name="user" class="form-control" placeholder="Username Or Email" required />
                  </div>
                  <div class="phone-div">

                      <input type="password" name="password" class="form-control" placeholder="Password" required />
                  </div>


                </div>



                <button type="submit" name="submit" class="btn continue-bn"> <i class="fas fa-lock"></i> SIGN IN </button>
              </div>

              <p class="text-center  mt-3">
                <a data-bs-toggle="modal" class="regster-bn" data-bs-target="#lostpsModal" data-bs-dismiss="modal"> Lost Password ? </a>  </p>


                <p class="text-center  mt-3"> Do not have an account?
                  <a data-bs-toggle="modal" class="regster-bn" data-bs-target="#memberModal" data-bs-dismiss="modal"> Register </a>  </p>
              </div>
           </form>

        </div>

      </div>
    </div>
  </div>



  <div class="modal fade youtube-video" id="myModal">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="video-container" class="video-container">
            <iframe id="youtubevideo" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'cricketlive/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'cricketlive/js/jquery.min.js' %}"></script>
<script src="{% static 'cricketlive/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'cricketlive/js/jquery.fancybox.min.js' %}"></script>
{% block jslink_home %}{% endblock jslink_home %}

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>
{% block js %} {% endblock js %}

</body>
</html>
