{% extends 'teambase.html' %}
{% load static %}

{% block bannerteam %}{% endblock bannerteam %}
{% block country %}{% endblock country %}
{% block ranking %}{% endblock ranking %}
{% block content1 %}

{% endblock content1 %}
{% block content2 %}

{% endblock content2 %}











{% extends 'base.html' %}
{% load static %}

{% block title %}Live{% endblock title %}
{% block css_internal %}{% endblock css_internal %}
{% block image_bar1 %}Live{% endblock image_bar1 %}
{% block image_bar2 %}Live{% endblock image_bar2 %}
{% block content %}{% endblock content %}
{% block js %}{% endblock js %}






{% extends 'base.html' %}
{% load static %}

{% block css %}{% endblock css %}
{% block css_internal %}{% endblock css_internal %}
{% block title %}{% endblock title %}
{% block navbar %}{% endblock navbar %}     used for standing only
{% block logout %}{% endblock logout %}     used for forming and update and delete page only
{% block sub_banner %}{% endblock sub_banner %}    used for home page only
{% block image_bar1 %}{% endblock image_bar1 %}
{% block image_bar2 %}{% endblock image_bar2 %}
{% block content %}{% endblock content %}
{% block jslink_home %}{% endblock jslink_home %}    used in home only
{% block js %}{% endblock js %}
{% block back %}{% endblock back %}








{% block image_bar1 %}live{% endblock image_bar1 %}
{% block image_bar2 %}live{% endblock image_bar2 %}
{% block content %}child live{% endblock content %}



