<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>

    <style>
      .fixed {
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
      }

      .div2 {
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 300px;
        margin-right: 300px;
        text-align: justify;
        font-size: large;
      }
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="fixed">
      <h3 style="text-align: center">Privacy Policy</h3>
    </div>

    <div class="div2">
      <p>
        <strong>Privacy Policy</strong>
      </p>

      <p>
        6S Cricket ("we", "us" or "our") operates the 6S Cricket Web
        application. This page informs you of our policies regarding the
        collection, use, and disclosure of personal data when you use our
        application.
      </p>

      <p>
        <strong> Information Collection and Use </strong>
      </p>

      <p>
        We collect several different types of information for various purposes
        to provide and improve our application.
      </p>

      <h3>
        <strong> Personal Data </strong>
      </h3>

      <p>
        While using our application, we may ask you to provide us with certain
        personally identifiable information that can be used to contact or
        identify you ("Personal Data").
      </p>

      <p>
        <strong>Usage Data</strong>
      </p>

      We may also collect information on how the application is accessed and
      used ("Usage Data"). This Usage Data may include information such as your
      device's Internet Protocol address (e.g. IP address), browser type,
      browser version, the pages of our application that you visit, the time and
      date of your visit, the time spent on those pages, unique device
      identifiers and other diagnostic data.

      <p>
        <strong>Use of Data</strong>
      </p>

      <p>
        6S Cricket uses the collected data for various purposes such as: - To
        provide and maintain our application - To notify you about changes to
        our application - To allow you to participate in interactive features of
        our application when you choose to do so - To provide customer support -
        To gather analysis or valuable information so that we can improve our
        application - To monitor the usage of our application - To detect,
        prevent and address technical issues
      </p>

      <p>
        <strong>Changes to This Privacy Policy</strong>
      </p>

      <p>
        We may update our Privacy Policy from time to time. We will notify you
        of any changes by posting the new Privacy Policy on this page.
      </p>
    </div>
  </body>
</html>
