{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/ugandateam.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Uganda{% endblock country %}
{% block ranking %}21th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                   <a href="{% url 'player_details' pk=531312 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1ug.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Simon Ssesazi
                       <span style="color: red" class="d-block"> UGA
                          </span> </h5>

                     <h3> Runs: 1832 </h3>
                     <p> Innings: <b> 70 </b>
                       Average: <b> 31.05 </b> </p>
                  </div>
               </a>

               <a href="{% url 'player_details' pk=1151337 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2ug.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Ronak Patel
                      <span style="color: red" class="d-block"> UGA
                         </span> </h5>

                    <h3> Runs: 779 </h3>
                    <p> Innings: <b> 38 </b>
                      Average: <b> 28.25 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3ug.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Roger Mukasa
                      <span style="color: red" class="d-block"> UGA
                         </span> </h5>

                    <h3> Runs: 914 </h3>
                    <p> Innings: <b> 47 </b>
                      Average: <b> 22.29 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4ug.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Cyrus Kakuru
                      <span style="color: red" class="d-block"> UGA
                         </span> </h5>

                    <h3> Runs: 131 </h3>
                    <p> Innings: <b> 33 </b>
                      Average: <b> 9.35 </b> </p>
                 </div>
               </a>

               <a href="{% url 'player_details' pk=731523 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5ug.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Dinesh Maganiai Nakrani
                      <span style="color: red" class="d-block"> UGA
                         </span> </h5>
                    <h3> Runs: 741 </h3>
                    <p> Innings: <b> 50 </b>
                      Average: <b> 29.64 </b> </p>
                 </div>
               </a>

               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">

            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bug.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Alpesh Ramjani (ODI)
                       <span style="color: red" class="d-block"> UGA
                         </span> </h5>

                     <h3> Wickets: 56 </h3>
                     <p> Innings: <b> 31 </b>
                       Average: <b> 9.19 </b> </p>
                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bug.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Bilal Hassan
                      <span style="color: red" class="d-block"> UGA
                         </span> </h5>

                    <h3> Wickets: 55 </h3>
                    <p> Innings: <b> 38 </b>
                      Average: <b> 14.54 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bug.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Dinesh Maganiai Nakrani
                      <span style="color: red" class="d-block"> UGA
                       </span> </h5>

                    <h3> Wickets: 63 </h3>
                    <p> Innings: <b> 50 </b>
                      Average: <b> 15.00  </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bug.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Riazat Ali Shah
                      <span style="color: red" class="d-block"> UGA
                         </span> </h5>

                    <h3> Wickets: 40 </h3>
                    <p> Innings: <b> 54 </b>
                      Average: <b> 20.10 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bug.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Henry Ssenyondo
                      <span style="color: red" class="d-block"> UGA
                         </span> </h5>

                    <h3> Wickets: 77 </h3>
                    <p> Innings: <b> 69 </b>
                      Average: <b> 15.92 </b> </p>
                 </div>
               </a>

            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bca.WEBP' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Dillon Heyliger (T20)
                    <span style="color: red" class="d-block"> UGA
                      </span> </h5>

                  <h3> Wickets: 35 </h3>
                  <p> Innings: <b> 32 </b>
                    Average: <b> 20.14 </b> </p>
               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bca.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Jeremy Gordon
                   <span style="color: red" class="d-block"> UGA
                     </span> </h5>

                 <h3> Wickets: 17 </h3>
                 <p> Innings: <b> 12 </b>
                   Average: <b> 17.70 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bca.png' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Kaleem Sana
                   <span style="color: red" class="d-block"> UGA
                     </span> </h5>

                 <h3> Wickets: 27 </h3>
                 <p> Innings: <b> 16 </b>
                   Average: <b> 12.48 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bca.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Nikhil Dutta
                   <span style="color: red" class="d-block"> UGA
                     </span> </h5>

                 <h3> Wickets: 24 </h3>
                 <p> Innings: <b> 22 </b>
                   Average: <b> 18.50 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bca.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Saad Bin Zafar
                   <span style="color: red" class="d-block"> UGA
                     </span> </h5>

                 <h3> Wickets: 38 </h3>
                 <p> Innings: <b> 34 </b>
                   Average: <b> 19.15 </b> </p>
              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">

         </div>
        </div>
     </div>
{% endblock content2 %}
