{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teambangladesh.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Bangladesh{% endblock country %}
{% block ranking %}8th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=56025 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/6bang.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Mahmudullah(odi)
                          <span style="color: green" class="d-block"> BANG
                             </span> </h5>

                        <h3> Runs: 5348 </h3>
                        <p> Innings: <b> 229 </b>
                          Average: <b> 36.14 </b> </p>


                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=629058 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2bang.jpg' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Najmul Hossain Shanto
                         <span style="color: green" class="d-block"> BANG
                            </span> </h5>

                       <h3> Runs: 1130 </h3>
                       <p> Innings: <b> 39 </b>
                         Average: <b> 30.54 </b> </p>


                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=56029 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3bang.jpg' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Mushfiqur Rahim
                         <span style="color: green" class="d-block"> BANG
                            </span> </h5>

                       <h3> Runs: 7608 </h3>
                       <p> Innings: <b> 265 </b>
                         Average: <b> 36.4 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=56143 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4bang.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Shakib Al Hasan
                         <span style="color: green" class="d-block"> BANG
                            </span> </h5>

                       <h3> Runs: 7570 </h3>
                       <p> Innings: <b> 247 </b>
                         Average: <b> 37.11 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=536936 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5bang.jpg' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Litton Das
                         <span style="color: green" class="d-block"> BANG
                            </span> </h5>

                       <h3> Runs: 2534 </h3>
                       <p> Innings: <b> 86 </b>
                         Average: <b> 31.68 </b> </p>


                    </div>
                  </a>






               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=56025 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/6bang.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Mahmudullah (t20)
                       <span style="color: green" class="d-block"> BANG
                          </span> </h5>

                     <h3> Runs: 2121 </h3>
                     <p> Innings: <b> 121 </b>
                       Average: <b> 23.57 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=629058 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Najmul Hossain Shanto
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Runs: 566 </h3>
                    <p> Innings: <b> 25 </b>
                      Average: <b> 26.95 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=56029 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mushfiqur Rahim
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Runs: 1500 </h3>
                    <p> Innings: <b> 102 </b>
                      Average: <b> 19.23 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=56143 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bang.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shakib Al Hasan
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Runs: 2382 </h3>
                    <p> Innings: <b> 117 </b>
                      Average: <b> 23.82 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=536936 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Litton Das
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>
                    <h3> Runs: 1670 </h3>
                    <p> Innings: <b> 73 </b>
                      Average: <b> 23.52 </b> </p>


                 </div>
               </a>






            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=536936 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/5bang.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Litton Das
                       <span style="color: green" class="d-block"> BANG
                          </span> </h5>

                     <h3> Runs: 2394 </h3>
                     <p> Innings: <b> 39 </b>
                       Average: <b> 35.73 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=1161381 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/1bang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mahmudul Hasan Joy  (TEST)
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Runs: 566 </h3>
                    <p> Innings: <b> 11 </b>
                      Average: <b> 28.30 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=629058 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Najmul Hossain Shanto
                      <span style="color: green" class="d-block"> BANG
                        </span> </h5>

                    <h3> Runs: 1449 </h3>
                    <p> Innings: <b> 25 </b>
                      Average: <b> 30.83 </b> </p>


                 </div>
               </a>

                <a href="{% url 'player_details' pk=56025 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6bang.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mahmudullah
                      <span style="color: green" class="d-block"> BANG
                        </span> </h5>

                    <h3> Runs: 2914 </h3>
                    <p> Innings: <b> 50 </b>
                      Average: <b> 33.11 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=56029 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mushfiqur Rahim
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Runs: 5667 </h3>
                    <p> Innings: <b> 88 </b>
                      Average: <b> 38.03 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=56143 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bang.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shakib Al Hasan
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Runs: 4454 </h3>
                    <p> Innings: <b> 66 </b>
                      Average: <b> 39.07 </b> </p>


                 </div>
               </a>


            </div>
           </div>
        </div>

{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bbang.jpeg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Taskin Ahmed (ODI)
                       <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                     <h3> Wickets: 95 </h3>
                     <p> Innings: <b> 70 </b>
                       Average: <b> 30.92 </b> </p>


                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bbang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mehidy Hasan Miraz
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Wickets: 101 </h3>
                    <p> Innings: <b> 91 </b>
                      Average: <b> 34.31 </b> </p>


                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bbang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Nasum Ahmed
                      <span style="color: green" class="d-block"> BANG
                       </span> </h5>

                    <h3> Wickets: 12 </h3>
                    <p> Innings: <b> 15 </b>
                      Average: <b> 45.83 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bbang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shakib Al Hasan
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Wickets: 317 </h3>
                    <p> Innings: <b> 247 </b>
                      Average: <b> 29.53 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bbang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mustafizur Rahman
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Wickets: 161 </h3>
                    <p> Innings: <b> 101 </b>
                      Average: <b> 25.99 </b> </p>


                 </div>
               </a>
                <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/7bbang.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shoriful Islam
                      <span style="color: green" class="d-block"> BANG
                         </span> </h5>

                    <h3> Wickets: 45 </h3>
                    <p> Innings: <b> 30 </b>
                      Average: <b> 28.04 </b> </p>


                 </div>
               </a>

            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bbang.jpeg' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Taskin Ahmed (T20)
                    <span style="color: green" class="d-block"> BANG(Captain)
                      </span> </h5>

                  <h3> Wickets: 52 </h3>
                  <p> Innings: <b> 54 </b>
                    Average: <b> 27.15 </b> </p>


               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mehidy Hasan Miraz
                   <span style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 13 </h3>
                 <p> Innings: <b> 25 </b>
                   Average: <b> 36.77 </b> </p>


              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Nasum Ahmed
                   <span style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 34 </h3>
                 <p> Innings: <b> 35 </b>
                   Average: <b> 23.15 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Shakib Al Hasan
                   <span style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 140 </h3>
                 <p> Innings: <b> 117 </b>
                   Average: <b> 20.49 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mustafizur Rahman
                   <span style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 103 </h3>
                 <p> Innings: <b> 85 </b>
                   Average: <b> 22.27 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/7bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Shoriful Islam
                   <span style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 34 </h3>
                 <p> Innings: <b> 31 </b>
                   Average: <b> 24.65 </b> </p>
              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
          <a href="#" class="plya-id d-inline-block w-100">
            <div class="teams-oine">
             <img alt="tem" src="{% static 'cricketlive/images/1bbang.jpeg' %}"/>
             <div class="btn btn-video"> View Profile </div>
            </div>
            <div class="texr-divb">
               <h5> Taskin Ahmed (TEST)
                 <span style="color: green" class="d-block"> BANG
                   </span> </h5>

               <h3> Wickets: 30 </h3>
               <p> Innings: <b> 13 </b>
                 Average: <b> 51.5 </b> </p>


            </div>
          </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mehidy Hasan Miraz
                   <span style="color: green" class="d-block"> BANG
                    </span> </h5>

                 <h3> Wickets: 159 </h3>
                 <p> Innings: <b> 41 </b>
                   Average: <b> 33.09 </b> </p>


              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Shakib Al Hasan
                   <span style="color: green" class="d-block"> BANG
                    </span> </h5>

                 <h3> Wickets: 233 </h3>
                 <p> Innings: <b> 66 </b>
                   Average: <b> 31.06 </b> </p>

              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mustafizur Rahman
                   <span style="color: green" style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 31  </h3>
                 <p> Innings: <b> 15 </b>
                   Average: <b> 36.74 </b> </p>

              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/6bbang.png' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Taijul Islam
                   <span style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 192 </h3>
                 <p> Innings: <b> 44 </b>
                   Average: <b> 31.26 </b> </p>

              </div>
            </a>
             <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/7bbang.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Shoriful Islam
                   <span style="color: green" class="d-block"> BANG
                     </span> </h5>

                 <h3> Wickets: 20 </h3>
                 <p> Innings: <b> 9 </b>
                   Average: <b> 30.6 </b> </p>
              </div>
            </a>

         </div>
        </div>
     </div>
{% endblock content2 %}
