{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teamengland.WEBP' %}"/>{% endblock bannerteam %}
{% block country %}England{% endblock country %}
{% block ranking %}6th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=311158 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1eng.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Ben Stokes (odi)
                          <span style="color: BLUE" class="d-block"> ENG
                             </span> </h5>

                        <h3> Runs: 3463 </h3>
                        <p> Innings: <b> 114 </b>
                          Average: <b> 41.23 </b> </p>


                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=303669 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2eng.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Joe Root
                         <span style="color: BLUE" class="d-block"> ENG
                            </span> </h5>

                       <h3> Runs: 6522 </h3>
                       <p> Innings: <b> 171 </b>
                         Average: <b> 47.61 </b> </p>


                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=297433 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3eng.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Jonny Bairstow
                         <span style="color: BLUE" class="d-block"> ENG
                            </span> </h5>

                       <h3> Runs: 3868 </h3>
                       <p> Innings: <b> 107 </b>
                         Average: <b> 42.98 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=236489 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4eng.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Dawid Malan
                         <span style="color: BLUE" class="d-block"> ENG
                            </span> </h5>

                       <h3> Runs: 1450 </h3>
                       <p> Innings: <b> 30 </b>
                         Average: <b> 55.77 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=308967 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5eng.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Jos Buttler
                         <span style="color: BLUE" class="d-block"> ENG
                            </span> </h5>

                       <h3> Runs: 5022 </h3>
                       <p> Innings: <b> 181 </b>
                         Average: <b> 39.54 </b> </p>


                    </div>
                   <a href="{% url 'player_details' pk=911707 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/6eng.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Harry Brook
                         <span style="color: BLUE" class="d-block"> ENG
                            </span> </h5>

                       <h3> Runs: 407 </h3>
                       <p> Innings: <b> 15 </b>
                         Average: <b> 29.07 </b> </p>


                    </div>
                  </a>





               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=311158 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1eng.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Ben Stokes (t20)
                       <span style="color: BLUE" class="d-block"> ENG
                          </span> </h5>

                     <h3> Runs: 585 </h3>
                     <p> Innings: <b> 43 </b>
                       Average: <b> 21.67 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=303669 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Joe Root
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 893 </h3>
                    <p> Innings: <b> 32 </b>
                      Average: <b> 35.72 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=297433 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Jonny Bairstow
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 1512 </h3>
                    <p> Innings: <b> 70 </b>
                      Average: <b> 29.65 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=236489 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Dawid Malan
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 1892 </h3>
                    <p> Innings: <b> 62 </b>
                      Average: <b> 36.38 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=308967 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Jos Buttler
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>
                    <h3> Runs: 2766 </h3>
                    <p> Innings: <b> 109 </b>
                      Average: <b> 35.01 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=911707 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Harry Brook
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 494 </h3>
                    <p> Innings: <b> 24 </b>
                      Average: <b> 29.06 </b> </p>


                 </div>
               </a>




            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=308967 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/5eng.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Jos Buttler
                       <span style="color: BLUE" class="d-block"> ENG
                          </span> </h5>

                     <h3> Runs: 2907 </h3>
                     <p> Innings: <b> 57 </b>
                       Average: <b> 31.95 </b> </p>

                  </div>
               </a>

               <a href="{% url 'player_details' pk=311158 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/1eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Ben Stokes (TEST)
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 6117 </h3>
                    <p> Innings: <b> 97 </b>
                      Average: <b> 36.41 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=303669 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Joe Root
                      <span style="color: BLUE" class="d-block"> ENG
                        </span> </h5>

                    <h3> Runs: 11416 </h3>
                    <p> Innings: <b> 135 </b>
                      Average: <b> 50.29 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=297433 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Jonny Bairstow
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 5804 </h3>
                    <p> Innings: <b> 95 </b>
                      Average: <b> 37.21 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=236489 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Dawid Malan
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 1074 </h3>
                    <p> Innings: <b> 22 </b>
                      Average: <b> 27.54 </b> </p>
                 </div>
               </a>
                <a href="{% url 'player_details' pk=911707 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6eng.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Harry Brook
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Runs: 1181 </h3>
                    <p> Innings: <b> 12 </b>
                      Average: <b> 62.16 </b> </p>
                 </div>
               </a>
            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1beng.WEBP' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Moeen Ali (ODI)
                       <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                     <h3> Wickets: 111 </h3>
                     <p> Innings: <b> 128 </b>
                       Average: <b> 47.85 </b> </p>
                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2beng.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Chris Woakes
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Wickets: 173 </h3>
                    <p> Innings: <b> 118 </b>
                      Average: <b> 30.02 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3beng.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> David Willey
                      <span style="color: BLUE" class="d-block"> ENG
                       </span> </h5>

                    <h3> Wickets: 100 </h3>
                    <p> Innings: <b> 72 </b>
                      Average: <b> 29.75 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4beng.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Adil Rashid
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Wickets: 199 </h3>
                    <p> Innings: <b> 135 </b>
                      Average: <b> 32.05 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5beng.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mark Wood
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Wickets: 77 </h3>
                    <p> Innings: <b> 66 </b>
                      Average: <b> 39.48 </b> </p>
                 </div>
               </a>
                <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/7beng.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> James Anderson
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Wickets: 269 </h3>
                    <p> Innings: <b> 194 </b>
                      Average: <b> 29.22 </b> </p>
                 </div>
               </a>
                <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/8beng.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Stuart Broad
                      <span style="color: BLUE" class="d-block"> ENG
                         </span> </h5>

                    <h3> Wickets: 178 </h3>
                    <p> Innings: <b> 121 </b>
                      Average: <b> 30.13 </b> </p>
                 </div>
               </a>
            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1beng.WEBP' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Moeen Ali (T20)
                    <span style="color: BLUE" class="d-block"> ENG
                      </span> </h5>

                  <h3> Wickets: 43 </h3>
                  <p> Innings: <b> 61 </b>
                    Average: <b> 27.63 </b> </p>
               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2beng.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Chris Woakes
                   <span style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 27 </h3>
                 <p> Innings: <b> 29 </b>
                   Average: <b> 26.67 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3beng.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> David Willey
                   <span style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 51 </h3>
                 <p> Innings: <b> 43 </b>
                   Average: <b> 23.14 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4beng.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Adil Rashid
                   <span style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 98 </h3>
                 <p> Innings: <b> 99 </b>
                   Average: <b> 26.27 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5beng.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mark Wood
                   <span style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 45 </h3>
                 <p> Innings: <b> 28 </b>
                   Average: <b> 18.6 </b> </p>
              </div>
            </a>
             <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/8beng.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Stuart Broad
                   <span style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 65 </h3>
                 <p> Innings: <b> 56 </b>
                   Average: <b> 22.94 </b> </p>
              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
          <a href="#" class="plya-id d-inline-block w-100">
            <div class="teams-oine">
             <img alt="tem" src="{% static 'cricketlive/images/1beng.WEBP' %}"/>
             <div class="btn btn-video"> View Profile </div>
            </div>
            <div class="texr-divb">
               <h5> Moeen Ali (TEST)
                 <span style="color: BLUE" class="d-block"> ENG
                   </span> </h5>

               <h3> Wickets: 204 </h3>
               <p> Innings: <b> 68 </b>
                 Average: <b> 37.31 </b> </p>
            </div>
          </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2beng.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Chris Woakes
                   <span style="color: BLUE" class="d-block"> ENG
                    </span> </h5>

                 <h3> Wickets: 149 </h3>
                 <p> Innings: <b> 48 </b>
                   Average: <b> 29.13 </b> </p>
              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4beng.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Adil Rashid
                   <span style="color: BLUE" class="d-block"> ENG
                    </span> </h5>

                 <h3> Wickets: 60 </h3>
                 <p> Innings: <b> 19 </b>
                   Average: <b> 39.83 </b> </p>
              </div>
            </a>


            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5beng.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mark Wood
                   <span style="color: BLUE" style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 104  </h3>
                 <p> Innings: <b> 31 </b>
                   Average: <b> 29.45 </b> </p>
              </div>
            </a>

             <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/8beng.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Stuart Broad
                   <span style="color: BLUE" style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 604  </h3>
                 <p> Innings: <b> 167 </b>
                   Average: <b> 27.68 </b> </p>
              </div>
            </a>
            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/7beng.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> James Anderso
                   <span style="color: BLUE" class="d-block"> ENG
                     </span> </h5>

                 <h3> Wickets: 690 </h3>
                 <p> Innings: <b> 183 </b>
                   Average: <b> 26.42 </b> </p>


              </div>
            </a>


         </div>
        </div>
     </div>
{% endblock content2 %}
