{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/irelandteam.WEBP' %}"/>{% endblock bannerteam %}
{% block country %}Ireland{% endblock country %}
{% block ranking %}13th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=303423 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1ir.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Andrew Balbirnie (odi)
                          <span style="color: springgreen" class="d-block"> IR
                             </span> </h5>

                        <h3> Runs: 2921 </h3>
                        <p> Innings: <b> 102 </b>
                          Average: <b> 31.75 </b> </p>


                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=961407 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2ir.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Harry Tector
                         <span style="color: springgreen" class="d-block"> IR
                            </span> </h5>

                       <h3> Runs: 1552 </h3>
                       <p> Innings: <b> 40 </b>
                         Average: <b> 50.06 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=303427 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3ir.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Paul Stirling
                         <span style="color: springgreen" class="d-block"> IR
                            </span> </h5>

                       <h3> Runs: 5623 </h3>
                       <p> Innings: <b> 155 </b>
                         Average: <b> 38.25 </b> </p>
                    </div>
                  </a>


                  <a href="#" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4ir.jpg' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Andy McBrine
                         <span style="color: springgreen" class="d-block"> IR
                            </span> </h5>

                       <h3> Runs: 826 </h3>
                       <p> Innings: <b> 82 </b>
                         Average: <b> 18.36 </b> </p>

                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=595921 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5ir.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Curtis Campher
                         <span style="color: springgreen" class="d-block"> IR
                            </span> </h5>

                       <h3> Runs: 766 </h3>
                       <p> Innings: <b> 32 </b>
                         Average: <b> 33.3 </b> </p>
                    </div>
                  </a>
               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=303423 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1ir.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Andrew Balbirnie (t20)
                       <span style="color: springgreen" class="d-block"> IR
                          </span> </h5>

                     <h3> Runs: 2094 </h3>
                     <p> Innings: <b> 97 </b>
                       Average: <b> 23.01 </b> </p>

                  </div>
               </a>

               <a href="{% url 'player_details' pk=961407 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2ir.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Harry Tector
                      <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>

                    <h3> Runs: 1171 </h3>
                    <p> Innings: <b> 67 </b>
                      Average: <b> 23.42 </b> </p>
                 </div>
               </a>

               <a href="{% url 'player_details' pk=303427 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3ir.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Paul Stirling
                      <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>

                    <h3> Runs: 3438 </h3>
                    <p> Innings: <b> 134 </b>
                      Average: <b> 27.95 </b> </p>

                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4ir.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Andy McBrine
                      <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>

                    <h3> Runs: 155 </h3>
                    <p> Innings: <b> 32 </b>
                      Average: <b> 12.92 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=595921 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5ir.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Curtis Campher
                      <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>
                    <h3> Runs: 707 </h3>
                    <p> Innings: <b> 44 </b>
                      Average: <b> 23.57 </b> </p>
                 </div>
               </a>

            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
            </div>
           </div>
        </div>

{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bir.WEBP' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Mark Adair (ODI)
                       <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>

                     <h3> Wickets: 55 </h3>
                     <p> Innings: <b> 43 </b>
                       Average: <b> 34.47 </b> </p>
                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bir.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Joshua Little
                      <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>

                    <h3> Wickets: 49 </h3>
                    <p> Innings: <b> 34 </b>
                      Average: <b> 34.37 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bir.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Graham Hume
                      <span style="color: springgreen" class="d-block"> IR
                       </span> </h5>

                    <h3> Wickets: 14 </h3>
                    <p> Innings: <b> 10 </b>
                      Average: <b> 30.64 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bir.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Craig Young
                      <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>

                    <h3> Wickets: 70 </h3>
                    <p> Innings: <b> 41 </b>
                      Average: <b> 25.2 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bir.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Barry McCarthy
                      <span style="color: springgreen" class="d-block"> IR
                         </span> </h5>

                    <h3> Wickets: 70 </h3>
                    <p> Innings: <b> 44 </b>
                      Average: <b> 30.34 </b> </p>
                 </div>
               </a>
            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bir.WEBP' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Mark Adair (T20)
                    <span style="color: springgreen" class="d-block"> IR
                      </span> </h5>

                  <h3> Wickets: 102 </h3>
                  <p> Innings: <b> 74 </b>
                    Average: <b> 19.74 </b> </p>
               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bir.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Joshua Little
                   <span style="color: springgreen" class="d-block"> IR
                     </span> </h5>

                 <h3> Wickets: 72 </h3>
                 <p> Innings: <b> 63 </b>
                   Average: <b> 24.29 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bir.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Graham Hume
                   <span style="color: springgreen" class="d-block"> IR
                     </span> </h5>

                 <h3> Wickets: 4 </h3>
                 <p> Innings: <b> 4 </b>
                   Average: <b> 35.5 </b> </p>
              </div>
            </a>
            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bir.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Craig Young
                   <span style="color: springgreen" class="d-block"> IR
                     </span> </h5>

                 <h3> Wickets: 65 </h3>
                 <p> Innings: <b> 58 </b>
                   Average: <b> 23.42 </b> </p>
              </div>
            </a>
            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bir.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Barry McCarthy
                   <span style="color: springgreen" class="d-block"> IR
                     </span> </h5>

                 <h3> Wickets: 46 </h3>
                 <p> Innings: <b> 46 </b>
                   Average: <b> 30.78 </b> </p>
              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">

         </div>
        </div>
     </div>
{% endblock content2 %}
