{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teamamerica.WEBP' %}"/>{% endblock bannerteam %}
{% block country %}United States of America{% endblock country %}
{% block ranking %}17th{% endblock ranking %}
{% block content1 %}
        <div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=348133 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1us.WEBP' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Steven Taylor (odi)
                          <span style="color: blue" class="d-block"> US
                             </span> </h5>

                        <h3> Runs: 1192 </h3>
                        <p> Innings: <b> 45 </b>
                          Average: <b> 26.49 </b> </p>


                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=1276393 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2us.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Sushant Modani
                         <span style="color: blue" class="d-block"> US
                            </span> </h5>

                       <h3> Runs: 831 </h3>
                       <p> Innings: <b> 31 </b>
                         Average: <b> 26.81 </b> </p>


                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=1159641 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3us.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Monank Patel
                         <span style="color: blue" class="d-block"> US
                            </span> </h5>

                       <h3> Runs: 1446 </h3>
                       <p> Innings: <b> 47 </b>
                         Average: <b> 32.86 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=957645 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4us.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Aaron Jones
                         <span style="color: blue" class="d-block"> US
                            </span> </h5>

                       <h3> Runs: 1454 </h3>
                       <p> Innings: <b> 43 </b>
                         Average: <b> 36.35 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=233258 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5us.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Nisarg Patel
                         <span style="color: blue" class="d-block"> US
                            </span> </h5>

                       <h3> Runs: 496 </h3>
                       <p> Innings: <b> 41 </b>
                         Average: <b> 17.71 </b> </p>

                    </div>
                  </a>

               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=348133 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1us.WEBP' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Steven Taylor (t20)
                       <span style="color: blue" class="d-block"> US
                          </span> </h5>

                     <h3> Runs: 488 </h3>
                     <p> Innings: <b> 12 </b>
                       Average: <b> 48.8 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=1276393 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2us.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Sushant Modani
                      <span style="color: blue" class="d-block"> US
                         </span> </h5>

                    <h3> Runs: 93 </h3>
                    <p> Innings: <b> 5 </b>
                      Average: <b> 31.0 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=1159641 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3us.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Monank Patel
                      <span style="color: blue" class="d-block"> US
                         </span> </h5>

                    <h3> Runs: 190 </h3>
                    <p> Innings: <b> 13 </b>
                      Average: <b> 15.83 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=957645 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4us.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Aaron Jones
                      <span style="color: blue" class="d-block"> US
                         </span> </h5>

                    <h3> Runs: 151 </h3>
                    <p> Innings: <b> 12 </b>
                      Average: <b> 18.88 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=233258 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5us.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Nisarg Patel
                      <span style="color: blue" class="d-block"> US
                         </span> </h5>
                    <h3> Runs: 70 </h3>
                    <p> Innings: <b> 10 </b>
                      Average: <b> 35.0 </b> </p>


                 </div>
               </a>

            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
     <div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bus.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Nosthush Kenjige (ODI)
                       <span style="color: blue" class="d-block"> US
                         </span> </h5>

                     <h3> Wickets: 38 </h3>
                     <p> Innings: <b> 40 </b>
                       Average: <b> 34.92 </b> </p>


                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bus.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Jasdeep Singh
                      <span style="color: blue" class="d-block"> US
                         </span> </h5>

                    <h3> Wickets: 3 </h3>
                    <p> Innings: <b> 3 </b>
                      Average: <b> 20.33 </b> </p>


                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bus.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Nisarg Patel
                      <span style="color: blue" class="d-block"> US
                       </span> </h5>

                    <h3> Wickets: 42 </h3>
                    <p> Innings: <b> 41 </b>
                      Average: <b> 30.50 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bus.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Steven Taylor
                      <span style="color: blue" class="d-block"> US
                         </span> </h5>

                    <h3> Wickets: 37 </h3>
                    <p> Innings: <b> 45 </b>
                      Average: <b> 30.38 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bus.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Saurabh Netravalkar
                      <span style="color: blue" class="d-block"> US
                         </span> </h5>

                    <h3> Wickets: 73 </h3>
                    <p> Innings: <b> 48 </b>
                      Average: <b> 22.27 </b> </p>


                 </div>
               </a>


            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/2bus.WEBP' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Jasdeep Singh (T20)
                    <span style="color: blue" class="d-block"> US
                      </span> </h5>

                  <h3> Wickets: 25 </h3>
                  <p> Innings: <b> 24 </b>
                    Average: <b> 37.88 </b> </p>


               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bus.png' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Nisarg Patel
                   <span style="color: blue" class="d-block"> US
                     </span> </h5>

                 <h3> Wickets: 25 </h3>
                 <p> Innings: <b> 17 </b>
                   Average: <b> 12.32 </b> </p>


              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bus.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Steven Taylor
                   <span style="color: blue" class="d-block"> US
                     </span> </h5>

                 <h3> Wickets: 3 </h3>
                 <p> Innings: <b> 12 </b>
                   Average: <b> 34.67 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bus.png' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Saurabh Netravalkar
                   <span style="color: blue" class="d-block"> US
                     </span> </h5>

                 <h3> Wickets: 16 </h3>
                 <p> Innings: <b> 14 </b>
                   Average: <b> 18.94 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/6bus.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Ali Khan
                   <span style="color: blue" class="d-block"> US
                     </span> </h5>

                 <h3> Wickets: 2 </h3>
                 <p> Innings: <b> 3 </b>
                   Average: <b> 42.5 </b> </p>


              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
         </div>
        </div>
     </div>
{% endblock content2 %}
