{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teamwestindies.jpg' %}"/>{% endblock bannerteam %}
{% block country %}West Indies{% endblock country %}
{% block ranking %}10th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=581379 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1wi.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Shai Diego Hope (odi)
                          <span style="color: red" class="d-block"> WI
                             </span> </h5>

                        <h3> Runs: 5132 </h3>
                        <p> Innings: <b> 121 </b>
                          Average: <b> 51.32 </b> </p>
                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=820351 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2wi.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Rovman Powell
                         <span style="color: red" class="d-block"> WI
                            </span> </h5>

                       <h3> Runs: 979 </h3>
                       <p> Innings: <b> 51 </b>
                         Average: <b> 21.75 </b> </p>
                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=820677 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3wi.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Keacy Carty
                         <span style="color: red" class="d-block"> WI
                            </span> </h5>

                       <h3> Runs: 440 </h3>
                       <p> Innings: <b> 19 </b>
                         Average: <b> 31.42 </b> </p>
                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=670025 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4wi.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Shimron Hetmyer
                         <span style="color: red" class="d-block"> WI
                            </span> </h5>

                       <h3> Runs: 1515 </h3>
                       <p> Innings: <b> 53 </b>
                         Average: <b> 32.23 </b> </p>
                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=670035 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5wi.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Brandon Alexander King
                         <span style="color: red" class="d-block"> WI
                            </span> </h5>

                       <h3> Runs: 1054 </h3>
                       <p> Innings: <b> 37 </b>
                         Average: <b> 30.11 </b> </p>

                    </div>
                  </a>

                   <a href="{% url 'player_details' pk=348056 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/6wi.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Kyle Mayers
                         <span style="color: red" class="d-block"> WI
                            </span> </h5>

                       <h3> Runs: 660 </h3>
                       <p> Innings: <b> 28 </b>
                         Average: <b> 25.38 </b> </p>

                    </div>
                  </a>
               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=581379 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1wi.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Shai Diego Hope (t20)
                       <span style="color: red" class="d-block"> WI
                          </span> </h5>

                     <h3> Runs: 371 </h3>
                     <p> Innings: <b> 21 </b>
                       Average: <b> 20.61 </b> </p>
                  </div>
               </a>

               <a href="{% url 'player_details' pk=820351 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Rovman Powell
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 1082 </h3>
                    <p> Innings: <b> 63 </b>
                      Average: <b> 25.16 </b> </p>
                 </div>
               </a>

               <a href="{% url 'player_details' pk=670025 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shimron Hetmyer
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 899 </h3>
                    <p> Innings: <b> 55 </b>
                      Average: <b> 21.40 </b> </p>
                 </div>
               </a>


               <a href="{% url 'player_details' pk=670035 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Brandon Alexander King
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 977 </h3>
                    <p> Innings: <b> 40 </b>
                      Average: <b> 27.91 </b> </p>
                 </div>
               </a>
                <a href="{% url 'player_details' pk=348056 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Kyle Mayers
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 550 </h3>
                    <p> Innings: <b> 29 </b>
                      Average: <b> 20.37 </b> </p>
                 </div>
               </a>
            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=581379 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/1wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shai Diego Hope (TEST)
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 1726 </h3>
                    <p> Innings: <b> 38 </b>
                      Average: <b> 25.01 </b> </p>
                 </div>
               </a>

               <a href="{% url 'player_details' pk=670025 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shimron Hetmyer
                      <span style="color: red" class="d-block"> WI
                        </span> </h5>

                    <h3> Runs: 838 </h3>
                    <p> Innings: <b> 16 </b>
                      Average: <b> 27.93 </b> </p>
                 </div>
               </a>

               <a href="{% url 'player_details' pk=348056 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Kyle Mayers
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 949 </h3>
                    <p> Innings: <b> 18 </b>
                      Average: <b> 32.72 </b> </p>
                 </div>
               </a>

               <a href="{% url 'player_details' pk=348024 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/8wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Kraigg Brathwaite
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 5479 </h3>
                    <p> Innings: <b> 87 </b>
                      Average: <b> 34.89 </b> </p>
                 </div>
               </a>
                <a href="{% url 'player_details' pk=431909 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/9wi.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Jermaine Blackwood
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Runs: 2898 </h3>
                    <p> Innings: <b> 56 </b>
                      Average: <b> 30.19 </b> </p>
                 </div>
               </a>
            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/2bwi.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Alzarri Shaheim Joseph (ODI)
                       <span style="color: red" class="d-block"> WI
                         </span> </h5>

                     <h3> Wickets: 108 </h3>
                     <p> Innings: <b> 66 </b>
                       Average: <b> 28.27 </b> </p>
                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/1bwi.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Yannic Cariah
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Wickets: 13 </h3>
                    <p> Innings: <b> 14 </b>
                      Average: <b> 47.84 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bwi.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Gudakesh Motie
                      <span style="color: red" class="d-block"> WI
                       </span> </h5>

                    <h3> Wickets: 18 </h3>
                    <p> Innings: <b> 10 </b>
                      Average: <b> 18.95 </b> </p>
                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6bwi.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Kevin Sinclair
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Wickets: 11 </h3>
                    <p> Innings: <b> 7 </b>
                      Average: <b> 25.63 </b> </p>
                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/9bwi.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Oshane Thomas
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Wickets: 29 </h3>
                    <p> Innings: <b> 22 </b>
                      Average: <b> 32.89 </b> </p>
                 </div>
               </a>
                <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/10bwi.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Akeal Hosein
                      <span style="color: red" class="d-block"> WI
                         </span> </h5>

                    <h3> Wickets: 57 </h3>
                    <p> Innings: <b> 38 </b>
                      Average: <b> 29.6 </b> </p>
                 </div>
               </a>
            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/2bwi.jpg' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Alzarri Shaheim Joseph (T20)
                    <span style="color: red" class="d-block"> WI
                      </span> </h5>

                  <h3> Wickets: 26 </h3>
                  <p> Innings: <b> 16 </b>
                    Average: <b> 18.96 </b> </p>
               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/10bwi.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Akeal Hosein
                   <span style="color: red" class="d-block"> WI
                     </span> </h5>

                 <h3> Wickets: 31 </h3>
                 <p> Innings: <b> 39 </b>
                   Average: <b> 29.6 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/11bwi.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Shai Hope
                   <span style="color: red" class="d-block"> WI
                     </span> </h5>

                 <h3> Wickets: 144 </h3>
                 <p> Innings: <b>  </b>
                   Average: <b> 23.38 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/9bwi.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Oshane Romaine Thomas
                   <span style="color: red" class="d-block"> WI
                     </span> </h5>

                 <h3> Wickets: 21 </h3>
                 <p> Innings: <b> 20 </b>
                   Average: <b> 28.66 </b> </p>
              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/12bwi.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Romario Shepherd
                   <span style="color: red" class="d-block"> WI
                     </span> </h5>

                 <h3> Wickets: 31 </h3>
                 <p> Innings: <b> 31 </b>
                   Average: <b> 29.70 </b> </p>
              </div>
            </a>
         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
          <a href="#" class="plya-id d-inline-block w-100">
            <div class="teams-oine">
             <img alt="tem" src="{% static 'cricketlive/images/2bwi.jpg' %}"/>
             <div class="btn btn-video"> View Profile </div>
            </div>
            <div class="texr-divb">
               <h5> Alzarri Shaheim Joseph (TEST)
                 <span style="color: red" class="d-block"> WI
                   </span> </h5>

               <h3> Wickets: 85 </h3>
               <p> Innings: <b> 30 </b>
                 Average: <b> 35.42 </b> </p>
            </div>
          </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bwi.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Gudakesh Motie
                   <span style="color: red" class="d-block"> WI
                    </span> </h5>

                 <h3> Wickets: 22 </h3>
                 <p> Innings: <b> 4 </b>
                   Average: <b> 18.95 </b> </p>
              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bwi.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Jayden Seales
                   <span style="color: red" class="d-block"> WI
                    </span> </h5>

                 <h3> Wickets: 37 </h3>
                 <p> Innings: <b> 10 </b>
                   Average: <b> 24.24 </b> </p>
              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/13bwi.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Jason Holder
                   <span style="color: red" class="d-block"> SA
                     </span> </h5>

                 <h3> Wickets: 157  </h3>
                 <p> Innings: <b> 64 </b>
                   Average: <b> 29.21 </b> </p>
              </div>
            </a>

             <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/15bwi.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Jomel Warrican
                   <span style="color: red" style="color: red" class="d-block"> WI
                     </span> </h5>

                 <h3> Wickets: 46  </h3>
                 <p> Innings: <b> 15 </b>
                   Average: <b> 36.41 </b> </p>
              </div>
            </a>

         </div>
        </div>
     </div>
{% endblock content2 %}
