{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teamnetharland.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Netherlands{% endblock country %}
{% block ranking %}14th{% endblock ranking %}
{% block content1 %}
 <div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=1153767 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1nl.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Vikramjit Singh (odi)
                          <span style="color: orange" class="d-block"> NL
                             </span> </h5>

                        <h3> Runs: 906 </h3>
                        <p> Innings: <b> 31 </b>
                          Average: <b> 29.23 </b> </p>

                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=643197 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2nl.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Max ODowd
                         <span style="color: orange" class="d-block"> NL
                            </span> </h5>

                       <h3> Runs: 1296 </h3>
                       <p> Innings: <b> 42 </b>
                         Average: <b> 32.4 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=379774 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3nl.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Colin Ackermann
                         <span style="color: orange" class="d-block"> NL
                            </span> </h5>

                       <h3> Runs: 428 </h3>
                       <p> Innings: <b> 16 </b>
                         Average: <b> 28.53 </b> </p>

                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=1036191 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4nl.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Bas de Leede
                         <span style="color: orange" class="d-block"> NL
                            </span> </h5>

                       <h3> Runs: 904 </h3>
                       <p> Innings: <b> 39 </b>
                         Average: <b> 24.53 </b> </p>

                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=315035 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5nl.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Sybrand Engelbrecht
                         <span style="color: orange" class="d-block"> NL
                            </span> </h5>

                       <h3> Runs: 300 </h3>
                       <p> Innings: <b> 8 </b>
                         Average: <b> 37.5 </b> </p>

                    </div>
                  </a>

               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=1153767 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1nl.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Vikramjit Singh (t20)
                       <span style="color: orange" class="d-block"> NL
                          </span> </h5>

                     <h3> Runs: 76 </h3>
                     <p> Innings: <b> 8 </b>
                       Average: <b> 9.5 </b> </p>

                  </div>
               </a>

               <a href="{% url 'player_details' pk=643197 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2nl.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Max ODowd
                      <span style="color: orange" class="d-block"> NL
                         </span> </h5>

                    <h3> Runs: 1589 </h3>
                    <p> Innings: <b> 58 </b>
                      Average: <b> 29.98 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=379774 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3nl.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Colin Ackermann
                      <span style="color: orange" class="d-block"> NL
                         </span> </h5>

                    <h3> Runs: 465 </h3>
                    <p> Innings: <b> 22 </b>
                      Average: <b> 25.83 </b> </p>
                 </div>
               </a>

               <a href="{% url 'player_details' pk=1036191 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4nl.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Bas de Leede
                      <span style="color: orange" class="d-block"> NL
                         </span> </h5>

                    <h3> Runs: 610 </h3>
                    <p> Innings: <b> 31 </b>
                      Average: <b> 29.05 </b> </p>
                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6nl.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Wesley Barresi
                      <span style="color: orange" class="d-block"> NL
                         </span> </h5>
                    <h3> Runs: 799 </h3>
                    <p> Innings: <b> 42 </b>
                      Average: <b> 22.82 </b> </p>
                 </div>
               </a>
            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">

            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bnl.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Aryan Dutt (ODI)
                       <span style="color: orange" class="d-block"> NL
                         </span> </h5>

                     <h3> Wickets: 30 </h3>
                     <p> Innings: <b> 34 </b>
                       Average: <b> 46.36 </b> </p>

                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bnl.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Roelof van der Merwe
                      <span style="color: orange" class="d-block"> NL
                         </span> </h5>

                    <h3> Wickets: 25 </h3>
                    <p> Innings: <b> 24 </b>
                      Average: <b> 39.84 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bnl.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Logan van Beek
                      <span style="color: orange" class="d-block"> NL
                       </span> </h5>

                    <h3> Wickets: 46 </h3>
                    <p> Innings: <b> 33 </b>
                      Average: <b> 35.04 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bnl.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Colin Ackermann
                      <span style="color: orange" class="d-block"> NL
                         </span> </h5>

                    <h3> Wickets: 9 </h3>
                    <p> Innings: <b> 16 </b>
                      Average: <b> 50.11 </b> </p>

                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bnl.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Paul van Meekeren
                      <span style="color: orange" class="d-block"> NL
                         </span> </h5>

                    <h3> Wickets: 27 </h3>
                    <p> Innings: <b> 22 </b>
                      Average: <b> 36.52 </b> </p>

                 </div>
               </a>

            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bnl.jpg' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Aryan Dutt (T20)
                    <span style="color: orange" class="d-block"> NL
                      </span> </h5>

                  <h3> Wickets: 4 </h3>
                  <p> Innings: <b> 5 </b>
                    Average: <b> 24.00 </b> </p>

               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bnl.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Roelof van der Merwe
                   <span style="color: orange" class="d-block"> NL
                     </span> </h5>

                 <h3> Wickets: 56 </h3>
                 <p> Innings: <b> 51 </b>
                   Average: <b> 19.11 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bnl.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Logan van Beek
                   <span style="color: orange" class="d-block"> NL
                     </span> </h5>

                 <h3> Wickets: 21 </h3>
                 <p> Innings: <b> 22 </b>
                   Average: <b> 23.43 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bnl.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Colin Ackermann
                   <span style="color: orange" class="d-block"> NL
                     </span> </h5>

                 <h3> Wickets: 7 </h3>
                 <p> Innings: <b> 22 </b>
                   Average: <b> 30.86 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bnl.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Paul van Meekeren
                   <span style="color: orange" class="d-block"> NL
                     </span> </h5>

                 <h3> Wickets: 64 </h3>
                 <p> Innings: <b> 57 </b>
                   Average: <b> 21.22 </b> </p>
              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">

         </div>
        </div>
     </div>
{% endblock content2 %}
