{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teamafghanistan.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Afghanistan{% endblock country %}
{% block ranking %}9th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=974087 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1afg.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Rahmanullah Gurbaz (odi)
                          <span style="color: blue" class="d-block"> AFG
                             </span> </h5>

                        <h3> Runs: 1238 </h3>
                        <p> Innings: <b> 35 </b>
                          Average: <b> 36.41 </b> </p>


                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=921509 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2afg.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Ibrahim Zadran
                         <span style="color: blue" class="d-block"> AFG
                            </span> </h5>

                       <h3> Runs: 1286 </h3>
                       <p> Innings: <b> 28 </b>
                         Average: <b> 51.44 </b> </p>


                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=533956 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3afg.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Rahmat Shah
                         <span style="color: blue" class="d-block"> AFG
                            </span> </h5>

                       <h3> Runs: 3590 </h3>
                       <p> Innings: <b> 106 </b>
                         Average: <b> 36.63 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=440970 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4afg.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Hashmatullah Shahidi
                         <span style="color: blue" class="d-block"> AFG
                            </span> </h5>

                       <h3> Runs: 2085 </h3>
                       <p> Innings: <b> 73 </b>
                         Average: <b> 34.18 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=819429 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5afg.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Azmatullah Omarzai
                         <span style="color: blue" class="d-block"> AFG
                            </span> </h5>

                       <h3> Runs: 490 </h3>
                       <p> Innings: <b> 22 </b>
                         Average: <b> 40.83 </b> </p>


                    </div>
                   <a href="{% url 'player_details' pk=25913 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/6afg.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Mohammad Nabi
                         <span style="color: blue" class="d-block"> AFG
                            </span> </h5>

                       <h3> Runs: 3196 </h3>
                       <p> Innings: <b> 156 </b>
                         Average: <b> 25.98 </b> </p>


                    </div>
                  </a>

               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=974087 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1afg.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Rahmanullah Gurbaz (t20)
                       <span style="color: blue" class="d-block"> AFG
                          </span> </h5>

                     <h3> Runs: 1043 </h3>
                     <p> Innings: <b> 43 </b>
                       Average: <b> 24.26 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=921509 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Ibrahim Zadran
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Runs: 530 </h3>
                    <p> Innings: <b> 24 </b>
                      Average: <b> 26.5 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=440970 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Hashmatullah Shahidi
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Runs: 48 </h3>
                    <p> Innings: <b> 6 </b>
                      Average: <b> 24 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=819429 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Azmatullah Omarzai
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Runs: 185 </h3>
                    <p> Innings: <b> 24 </b>
                      Average: <b> 16.82 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=25913 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mohammad Nabi
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>
                    <h3> Runs: 1803 </h3>
                    <p> Innings: <b> 108 </b>
                      Average: <b> 22.26 </b> </p>


                 </div>
               </a>

            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=921509 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Ibrahim Zadran (TEST)
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Runs: 362 </h3>
                    <p> Innings: <b> 5 </b>
                      Average: <b> 36.2 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=533956 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Rahmat Shah
                      <span style="color: blue" class="d-block"> AFG
                        </span> </h5>

                    <h3> Runs: 424 </h3>
                    <p> Innings: <b> 7 </b>
                      Average: <b> 30.29 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=440970 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Hashmatullah Shahidi
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Runs: 375 </h3>
                    <p> Innings: <b> 6 </b>
                      Average: <b> 46.88 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=25913 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6afg.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mohammad Nabi
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Runs: 33 </h3>
                    <p> Innings: <b> 3 </b>
                      Average: <b> 5.5 </b> </p>


                 </div>
               </a>
                <a href="{% url 'player_details' pk=524048 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/8afg.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Nasir Jamal
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Runs: 117 </h3>
                    <p> Innings: <b> 3 </b>
                      Average: <b> 29.25 </b> </p>
                 </div>
                </a>
            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bafg.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Rashid Khan (ODI)
                       <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                     <h3> Wickets: 183 </h3>
                     <p> Innings: <b> 103 </b>
                       Average: <b> 20.48 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=25913 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bafg.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mohammad Nabi
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Wickets: 162 </h3>
                    <p> Innings: <b> 156 </b>
                      Average: <b> 32.28 </b> </p>


                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bafg.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Azmatullah Omarzai
                      <span style="color: blue" class="d-block"> AFG
                       </span> </h5>

                    <h3> Wickets: 13 </h3>
                    <p> Innings: <b> 22 </b>
                      Average: <b> 48.0 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bafg.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Naveen-ul-Haq
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Wickets: 22 </h3>
                    <p> Innings: <b> 15 </b>
                      Average: <b> 32.18 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bafg.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Fazalhaq Farooqi
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Wickets: 38 </h3>
                    <p> Innings: <b> 27 </b>
                      Average: <b> 29.16 </b> </p>


                 </div>
               </a>
                <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6bafg.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mujeeb Ur Rahman
                      <span style="color: blue" class="d-block"> AFG
                         </span> </h5>

                    <h3> Wickets: 101 </h3>
                    <p> Innings: <b> 75 </b>
                      Average: <b> 28.35 </b> </p>


                 </div>
               </a>



            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bafg.jpg' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Rashid Khan (T20)
                    <span style="color: blue" class="d-block"> AFG
                      </span> </h5>

                  <h3> Wickets: 130 </h3>
                  <p> Innings: <b> 82 </b>
                    Average: <b> 14.81 </b> </p>


               </div>
            </a>

            <a href="{% url 'player_details' pk=25913 %}" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bafg.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mohammad Nabi
                   <span style="color: blue" class="d-block"> AFG
                     </span> </h5>

                 <h3> Wickets: 87 </h3>
                 <p> Innings: <b> 108 </b>
                   Average: <b> 27.72 </b> </p>


              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bafg.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Azmatullah Omarzai
                   <span style="color: blue" class="d-block"> AFG
                     </span> </h5>

                 <h3> Wickets: 11 </h3>
                 <p> Innings: <b> 24 </b>
                   Average: <b> 41.36 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bafg.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Naveen-ul-Haq
                   <span style="color: blue" class="d-block"> AFG
                     </span> </h5>

                 <h3> Wickets: 34 </h3>
                 <p> Innings: <b> 27 </b>
                   Average: <b> 20.71 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bafg.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Fazalhaq Farooqi
                   <span style="color: blue" class="d-block"> AFG
                     </span> </h5>

                 <h3> Wickets: 27 </h3>
                 <p> Innings: <b> 24 </b>
                   Average: <b> 21.85 </b> </p>


              </div>
            </a>

             <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/6bafg.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mujeeb Ur Rahman
                   <span style="color: blue" class="d-block"> AFG
                     </span> </h5>

                 <h3> Wickets: 56 </h3>
                 <p> Innings: <b> 43 </b>
                   Average: <b> 17.84 </b> </p>


              </div>
            </a>


         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
          <a href="#" class="plya-id d-inline-block w-100">
            <div class="teams-oine">
             <img alt="tem" src="{% static 'cricketlive/images/1bafg.jpg' %}"/>
             <div class="btn btn-video"> View Profile </div>
            </div>
            <div class="texr-divb">
               <h5> Rashid Khan (TEST)
                 <span style="color: blue" class="d-block"> AFG
                   </span> </h5>

               <h3> Wickets: 34 </h3>
               <p> Innings: <b> 5 </b>
                 Average: <b> 22.35 </b> </p>


            </div>
          </a>

            <a href="{% url 'player_details' pk=25913 %}" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bafg.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mohammad Nabi
                   <span style="color: blue" class="d-block"> AFG
                    </span> </h5>

                 <h3> Wickets: 8 </h3>
                 <p> Innings: <b> 3 </b>
                   Average: <b> 31.75 </b> </p>


              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/6bafg.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mujeeb Ur Rahman
                   <span style="color: blue" class="d-block"> AFG
                    </span> </h5>

                 <h3> Wickets: 1 </h3>
                 <p> Innings: <b> 1 </b>
                   Average: <b> 75.0 </b> </p>


              </div>
            </a>


            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/7bafg.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Zahir Khan
                   <span style="color: blue" class="d-block"> SA
                     </span> </h5>

                 <h3> Wickets: 10  </h3>
                 <p> Innings: <b> 4 </b>
                   Average: <b> 44.90 </b> </p>


              </div>
            </a>

             <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/9bafg.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Yamin Ahmadzai
                   <span style="color: blue" style="color: blue" class="d-block"> AFG
                     </span> </h5>

                 <h3> Wickets: 13  </h3>
                 <p> Innings: <b> 6 </b>
                   Average: <b> 28.00 </b> </p>


              </div>
            </a>

         </div>
{% endblock content2 %}