{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teamnamibia.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Namibia{% endblock country %}
{% block ranking %}16th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="#" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1nb.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Michael van Lingen (odi)
                          <span style="color: blue" class="d-block"> NB
                             </span> </h5>

                        <h3> Runs: 871 </h3>
                        <p> Innings: <b> 28 </b>
                          Average: <b> 39.59 </b> </p>

                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=595790 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2nb.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Nikolaas Davin
                         <span style="color: blue" class="d-block"> NB
                            </span> </h5>

                       <h3> Runs: 142 </h3>
                       <p> Innings: <b> 5 </b>
                         Average: <b> 28.4 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=519070 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3nb.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Gerhard Erasmus
                         <span style="color: blue" class="d-block"> NB
                            </span> </h5>

                       <h3> Runs: 1593 </h3>
                       <p> Innings: <b> 40 </b>
                         Average: <b> 45.51 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=541991 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4nb.jpg' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> JP Kotze
                         <span style="color: blue" class="d-block"> NB
                            </span> </h5>

                       <h3> Runs: 299 </h3>
                       <p> Innings: <b> 8 </b>
                         Average: <b> 37.38 </b> </p>

                    </div>
                  </a>

                  <a href="#" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5nb.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> JJ Smit
                         <span style="color: blue" class="d-block"> NB
                            </span> </h5>

                       <h3> Runs: 651 </h3>
                       <p> Innings: <b> 29 </b>
                         Average: <b> 28.3 </b> </p>

                    </div>
                  </a>

                   <a href="{% url 'player_details' pk=221140 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/6nb.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> David Wiese
                         <span style="color: blue" class="d-block"> NB
                            </span> </h5>

                       <h3> Runs: 330 </h3>
                       <p> Innings: <b> 15 </b>
                         Average: <b> 25.38 </b> </p>


                    </div>
                  </a>

               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1nb.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Michael van Lingen (t20)
                       <span style="color: blue" class="d-block"> NB
                          </span> </h5>

                     <h3> Runs: 438 </h3>
                     <p> Innings: <b> 24 </b>
                       Average: <b> 20.86 </b> </p>

                  </div>
               </a>

               <a href="{% url 'player_details' pk=595790 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2nb.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Nikolaas Davin
                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>

                    <h3> Runs: 779 </h3>
                    <p> Innings: <b> 27 </b>
                      Average: <b> 31.16 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=519070 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3nb.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Gerhard Erasmus
                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>

                    <h3> Runs: 1194 </h3>
                    <p> Innings: <b> 52 </b>
                      Average: <b> 32.27 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=541991 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4nb.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> JP Kotze
                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>

                    <h3> Runs: 427 </h3>
                    <p> Innings: <b> 26 </b>
                      Average: <b> 21.35 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5nb.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> JJ Smit
                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>
                    <h3> Runs: 738 </h3>
                    <p> Innings: <b> 43 </b>
                      Average: <b> 41.0 </b> </p>
                 </div>
               </a>

                <a href="{% url 'player_details' pk=221140 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6nb.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> David Wiese

                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>
                    <h3> Runs: 454 </h3>
                    <p> Innings: <b> 45 </b>
                      Average: <b> 21.62 </b> </p>
                 </div>
               </a>

            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">

            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bnb.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Tangeni Lungameni (ODI)
                       <span style="color: blue" class="d-block"> NB
                         </span> </h5>

                     <h3> Wickets: 37 </h3>
                     <p> Innings: <b> 22 </b>
                       Average: <b> 19.97 </b> </p>

                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bnb.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Bernard Scholtz
                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>

                    <h3> Wickets: 55 </h3>
                    <p> Innings: <b> 41 </b>
                      Average: <b> 21.47 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bnb.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Pikky Ya France
                      <span style="color: blue" class="d-block"> NB
                       </span> </h5>

                    <h3> Wickets: 15 </h3>
                    <p> Innings: <b> 25 </b>
                      Average: <b> 44.07 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bnb.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Jan Nicol Loftie-Eaton
                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>

                    <h3> Wickets: 10 </h3>
                    <p> Innings: <b> 32 </b>
                      Average: <b> 28.5 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bnb.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Gerhard Erasmus
                      <span style="color: blue" class="d-block"> NB
                         </span> </h5>

                    <h3> Wickets: 20 </h3>
                    <p> Innings: <b> 40 </b>
                      Average: <b> 29.85 </b> </p>

                 </div>
               </a>

            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bnb.jpg' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Tangeni Lungameni (T20)
                    <span style="color: blue" class="d-block"> NB
                      </span> </h5>

                  <h3> Wickets: 21 </h3>
                  <p> Innings: <b> 26 </b>
                    Average: <b> 23.95 </b> </p>

               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bnb.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Bernard Scholtz
                   <span style="color: blue" class="d-block"> NB
                     </span> </h5>

                 <h3> Wickets: 54 </h3>
                 <p> Innings: <b> 49 </b>
                   Average: <b> 17.93 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bnb.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Pikky Ya France
                   <span style="color: blue" class="d-block"> NB
                     </span> </h5>

                 <h3> Wickets: 6 </h3>
                 <p> Innings: <b> 21 </b>
                   Average: <b> 32.0 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bnb.png' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Jan Nicol Loftie-Eaton
                   <span style="color: blue" class="d-block"> NB
                     </span> </h5>

                 <h3> Wickets: 6 </h3>
                 <p> Innings: <b> 32 </b>
                   Average: <b> 38.5 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bnb.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Gerhard Erasmus
                   <span style="color: blue" class="d-block"> NB
                     </span> </h5>

                 <h3> Wickets: 35 </h3>
                 <p> Innings: <b> 52 </b>
                   Average: <b> 14.17 </b> </p>

              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">

         </div>
        </div>
     </div>
{% endblock content2 %}
