{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teamoman.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Oman{% endblock country %}
{% block ranking %}18th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=1276719 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1om.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Kashyap Prajapati (odi)
                          <span style="color: red" class="d-block"> OM
                             </span> </h5>

                        <h3> Runs: 949 </h3>
                        <p> Innings: <b> 31 </b>
                          Average: <b> 31.63 </b> </p>

                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=940593 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3om.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Aqib Ilyas
                         <span style="color: red" class="d-block"> OM
                            </span> </h5>

                       <h3> Runs: 1004 </h3>
                       <p> Innings: <b> 25 </b>
                         Average: <b> 47.80 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=585083 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4om.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Zeeshan Maqsood
                         <span style="color: red" class="d-block"> OM
                            </span> </h5>

                       <h3> Runs: 1127 </h3>
                       <p> Innings: <b> 42 </b>
                         Average: <b> 30.45 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=1276700 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5om.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Shoaib Khan
                         <span style="color: red" class="d-block"> OM
                            </span> </h5>

                       <h3> Runs: 726 </h3>
                       <p> Innings: <b> 24 </b>
                         Average: <b> 34.57 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=956319 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/6om.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Ayaan Khan
                         <span style="color: red" class="d-block"> OM
                            </span> </h5>

                       <h3> Runs: 1001 </h3>
                       <p> Innings: <b> 34 </b>
                         Average: <b> 34.51 </b> </p>

                    </div>
                  </a>
               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=1276719 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1om.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Kashyap Prajapati (t20)
                       <span style="color: red" class="d-block"> OM
                          </span> </h5>

                     <h3> Runs: 576 </h3>
                     <p> Innings: <b> 29 </b>
                       Average: <b> 23.04 </b> </p>

                  </div>
               </a>

               <a href="{% url 'player_details' pk=1402600 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2om.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Pratik Athavale
                      <span style="color: red" class="d-block"> OM
                         </span> </h5>

                    <h3> Runs: 135 </h3>
                    <p> Innings: <b> 5 </b>
                      Average: <b> 33.75 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=940593 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3om.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Aqib Ilyas
                      <span style="color: red" class="d-block"> OM
                         </span> </h5>

                    <h3> Runs: 812 </h3>
                    <p> Innings: <b> 35 </b>
                      Average: <b> 28.00 </b> </p>

                 </div>
               </a>


               <a href="{% url 'player_details' pk=585083 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4om.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Zeeshan Maqsood
                      <span style="color: red" class="d-block"> OM
                         </span> </h5>

                    <h3> Runs: 1100 </h3>
                    <p> Innings: <b> 53 </b>
                      Average: <b> 31.42 </b> </p>

                 </div>
               </a>


               <a href="{% url 'player_details' pk=1276700 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5om.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shoaib Khan
                      <span style="color: red" class="d-block"> OM
                         </span> </h5>
                    <h3> Runs: 265 </h3>
                    <p> Innings: <b> 21 </b>
                      Average: <b> 17.66 </b> </p>

                 </div>
               </a>

            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">

            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bom.WEBP' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Bilal Khan (ODI)
                       <span style="color: red" class="d-block"> OM
                         </span> </h5>

                     <h3> Wickets: 95 </h3>
                     <p> Innings: <b> 45 </b>
                       Average: <b> 20.72 </b> </p>


                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bom.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Kaleemullah
                      <span style="color: red" class="d-block"> OM
                         </span> </h5>

                    <h3> Wickets: 35 </h3>
                    <p> Innings: <b> 39 </b>
                      Average: <b> 36.82 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bom.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Fayyaz Butt
                      <span style="color: red" class="d-block"> OM
                       </span> </h5>

                    <h3> Wickets: 28 </h3>
                    <p> Innings: <b> 23 </b>
                      Average: <b> 35.28 </b> </p>

                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bom.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Zeeshan Maqsood
                      <span style="color: red" class="d-block"> OM
                         </span> </h5>

                    <h3> Wickets: 55 </h3>
                    <p> Innings: <b> 42 </b>
                      Average: <b> 26.47 </b> </p>

                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6bom.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Aqib Ilyas
                      <span style="color: red" class="d-block"> OM
                         </span> </h5>

                    <h3> Wickets: 20 </h3>
                    <p> Innings: <b> 25 </b>
                      Average: <b> 27.60 </b> </p>

                 </div>
               </a>


            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bom.WEBP' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Bilal Khan (T20)
                    <span style="color: red" class="d-block"> OM
                      </span> </h5>

                  <h3> Wickets: 92 </h3>
                  <p> Innings: <b> 64 </b>
                    Average: <b> 16.18 </b> </p>

               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bom.png' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Kaleemullah
                   <span style="color: red" class="d-block"> OM
                     </span> </h5>

                 <h3> Wickets: 21 </h3>
                 <p> Innings: <b> 26 </b>
                   Average: <b> 26.85 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bom.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Shakeel Ahmed
                   <span style="color: red" class="d-block"> OM
                     </span> </h5>

                 <h3> Wickets: 8 </h3>
                 <p> Innings: <b> 10 </b>
                   Average: <b> 25.37 </b> </p>

              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bom.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Fayyaz Butt
                   <span style="color: red" class="d-block"> OM
                     </span> </h5>

                 <h3> Wickets: 33</h3>
                 <p> Innings: <b> 33 </b>
                   Average: <b> 24.33 </b> </p>

              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bom.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Zeeshan Maqsood
                   <span style="color: red" class="d-block"> OM
                     </span> </h5>

                 <h3> Wickets: 37 </h3>
                 <p> Innings: <b> 53 </b>
                   Average: <b> 22.45 </b> </p>

              </div>
            </a>

             <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/6bom.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Aqib Ilyas
                   <span style="color: red" class="d-block"> OM
                     </span> </h5>

                 <h3> Wickets: 17 </h3>
                 <p> Innings: <b> 35 </b>
                   Average: <b> 27.60 </b> </p>

              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">

         </div>
        </div>
     </div>

{% endblock content2 %}
