{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/teampapua.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Papua New Guinea{% endblock country %}
{% block ranking %}19th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=302845 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1pa.png' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Tony Ura (odi)
                          <span style="color: black" class="d-block"> PNG
                             </span> </h5>

                        <h3> Runs: 1363 </h3>
                        <p> Innings: <b> 61 </b>
                          Average: <b> 22.71 </b> </p>

                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=646173 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2pa.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Kiplin Doriga
                         <span style="color: black" class="d-block"> PNG
                            </span> </h5>

                       <h3> Runs: 730 </h3>
                       <p> Innings: <b> 39 </b>
                         Average: <b> 20.27 </b> </p>

                    </div>
                  </a>

                  <a href="#" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3pa.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Assad Vala
                         <span style="color: black" class="d-block"> PNG
                            </span> </h5>

                       <h3> Runs: 2003 </h3>
                       <p> Innings: <b> 66 </b>
                         Average: <b> 30.81 </b> </p>

                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=440990 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4pa.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Lega Siaka
                         <span style="color: black" class="d-block"> PNG
                            </span> </h5>

                       <h3> Runs: 931 </h3>
                       <p> Innings: <b> 47 </b>
                         Average: <b> 19.80 </b> </p>

                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=420427 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5pa.WEBP' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Sese Bau
                         <span style="color: black" class="d-block"> PNG
                            </span> </h5>

                       <h3> Runs: 1089 </h3>
                       <p> Innings: <b> 57 </b>
                         Average: <b> 20.16 </b> </p>

                    </div>
                  </a>
               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=302845 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1pa.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Tony Ura (t20)
                       <span style="color: black" class="d-block"> PNG
                          </span> </h5>

                     <h3> Runs: 1447 </h3>
                     <p> Innings: <b> 49 </b>
                       Average: <b> 35.29 </b> </p>

                  </div>
               </a>

               <a href="{% url 'player_details' pk=646173 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2pa.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Kiplin Doriga
                      <span style="color: black" class="d-block"> PNG
                         </span> </h5>

                    <h3> Runs: 259 </h3>
                    <p> Innings: <b> 31 </b>
                      Average: <b> 12.33 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3pa.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Assad Vala
                      <span style="color: black" class="d-block"> PNG
                         </span> </h5>

                    <h3> Runs: 1120 </h3>
                    <p> Innings: <b> 53 </b>
                      Average: <b> 26.26 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=440990 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4pa.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Lega Siaka
                      <span style="color: black" class="d-block"> PNG
                         </span> </h5>

                    <h3> Runs: 671 </h3>
                    <p> Innings: <b> 51 </b>
                      Average: <b> 16.36 </b> </p>

                 </div>
               </a>

               <a href="{% url 'player_details' pk=420427 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4pa.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Sese Bau
                      <span style="color: black" class="d-block"> PNG
                         </span> </h5>
                    <h3> Runs: 696 </h3>
                    <p> Innings: <b> 44 </b>
                      Average: <b> 22.45 </b> </p>

                 </div>
               </a>

            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">

            </div>
           </div>
        </div>
{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bpa.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Semo Igo Kamea (ODI)
                       <span style="color: black" class="d-block"> PNG
                         </span> </h5>

                     <h3> Wickets: 33 </h3>
                     <p> Innings: <b> 22 </b>
                       Average: <b> 26.30 </b> </p>

                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bpa.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Alei Nao
                      <span style="color: black" class="d-block"> PNG
                         </span> </h5>

                    <h3> Wickets: 25 </h3>
                    <p> Innings: <b> 26 </b>
                      Average: <b> 38.88 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bpa.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> John Kariko
                      <span style="color: black" class="d-block"> PNG
                       </span> </h5>

                    <h3> Wickets: 5 </h3>
                    <p> Innings: <b> 3 </b>
                      Average: <b> 22.80  </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bpa.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Charles Amini
                      <span style="color: black" class="d-block"> PNG
                         </span> </h5>

                    <h3> Wickets: 32 </h3>
                    <p> Innings: <b> 49 </b>
                      Average: <b> 43.09 </b> </p>

                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bpa.WEBP' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Norman Vanua
                      <span style="color: black" class="d-block"> PNG
                         </span> </h5>

                    <h3> Wickets: 61 </h3>
                    <p> Innings: <b> 57 </b>
                      Average: <b> 34.18 </b> </p>

                 </div>
               </a>

            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bpa.png' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Semo Igo Kamea (T20)
                    <span style="color: black" class="d-block"> PNG
                      </span> </h5>

                  <h3> Wickets: 17 </h3>
                  <p> Innings: <b> 14 </b>
                    Average: <b> 21.11 </b> </p>

               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bpa.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Alei Nao
                   <span style="color: black" class="d-block"> PNG
                     </span> </h5>

                 <h3> Wickets: 8 </h3>
                 <p> Innings: <b> 10 </b>
                   Average: <b> 28.50 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bpa.png' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> John Kariko
                   <span style="color: black" class="d-block"> PNG
                     </span> </h5>

                 <h3> Wickets: 18 </h3>
                 <p> Innings: <b> 10 </b>
                   Average: <b> 8.05 </b> </p>

              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bpa.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Charles Amini
                   <span style="color: black" class="d-block"> PNG
                     </span> </h5>

                 <h3> Wickets: 43 </h3>
                 <p> Innings: <b> 50 </b>
                   Average: <b> 18.83 </b> </p>

              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bpa.WEBP' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Norman Vanua
                   <span style="color: black" class="d-block"> PNG
                     </span> </h5>

                 <h3> Wickets: 60 </h3>
                 <p> Innings: <b> 51 </b>
                   Average: <b> 18.06 </b> </p>

              </div>
            </a>

         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">

         </div>
        </div>
     </div>

{% endblock content2 %}
