{% extends 'teambase.html' %}
{% load static %}
{% block bannerteam %}<img alt="sue" src="{% static 'cricketlive/images/pakteam.jpg' %}"/>{% endblock bannerteam %}
{% block country %}Pakistan{% endblock country %}
{% block ranking %}4th{% endblock ranking %}
{% block content1 %}
<div class="tab-content mt-4" id="pills-tabContent">
           <div class="tab-pane fade show active" id="runodi" role="tabpanel">
               <div class="teams-slider05 owl-carousel owl-theme">
                  <a href="{% url 'player_details' pk=348144 %}" class="plya-id d-inline-block w-100">
                     <div class="teams-oine">
                      <img alt="tem" src="{% static 'cricketlive/images/1pak.jpg' %}"/>
                      <div class="btn btn-video"> View Profile </div>
                     </div>
                     <div class="texr-divb">
                        <h5> Babar Azam (odi)
                          <span style="color: green" class="d-block"> PAK
                             </span> </h5>

                        <h3> Runs: 5729 </h3>
                        <p> Innings: <b> 117 </b>
                          Average: <b> 56.72 </b> </p>


                     </div>
                  </a>

                  <a href="{% url 'player_details' pk=323389 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/2pak.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Muhammad Rizwan
                         <span style="color: green" class="d-block"> PAK
                            </span> </h5>

                       <h3> Runs: 2088 </h3>
                       <p> Innings: <b> 74 </b>
                         Average: <b> 40.15 </b> </p>


                    </div>
                  </a>

                  <a href="{% url 'player_details' pk=512191 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/3pak.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Fakhar Zaman
                         <span style="color: green" class="d-block"> PAK
                            </span> </h5>

                       <h3> Runs: 3492 </h3>
                       <p> Innings: <b> 82 </b>
                         Average: <b> 46.56 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=568276 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/4pak.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Imam-ul-Haq
                         <span style="color: green" class="d-block"> PAK
                            </span> </h5>

                       <h3> Runs: 3138 </h3>
                       <p> Innings: <b> 72 </b>
                         Average: <b> 48.28 </b> </p>


                    </div>
                  </a>


                  <a href="{% url 'player_details' pk=480603 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/5pak.png' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Iftikhar Ahmed
                         <span style="color: green" class="d-block"> PAK
                            </span> </h5>

                       <h3> Runs: 614 </h3>
                       <p> Innings: <b> 28 </b>
                         Average: <b> 38.38 </b> </p>


                    </div>
                  </a>
                   <a href="{% url 'player_details' pk=922941 %}" class="plya-id d-inline-block w-100">
                    <div class="teams-oine">
                     <img alt="tem" src="{% static 'cricketlive/images/9pak.jpg' %}"/>
                     <div class="btn btn-video"> View Profile </div>
                    </div>
                    <div class="texr-divb">
                       <h5> Abdullah Shafique
                         <span style="color: green" class="d-block"> PAK
                            </span> </h5>

                       <h3> Runs: 416 </h3>
                       <p> Innings: <b> 12 </b>
                         Average: <b> 34.67 </b> </p>


                    </div>
                  </a>





               </div>
           </div>

           <div class="tab-pane fade" id="runt20" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=348144 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1pak.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Babar Azam (t20)
                       <span style="color: green" class="d-block"> PAK
                          </span> </h5>

                     <h3> Runs: 3485 </h3>
                     <p> Innings: <b> 104 </b>
                       Average: <b> 41.49 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=323389 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mohammad Rizwan
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Runs: 2797 </h3>
                    <p> Innings: <b> 85 </b>
                      Average: <b> 49.07 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=512191 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Fakhar Zaman
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Runs: 1433 </h3>
                    <p> Innings: <b> 76 </b>
                      Average: <b> 21.71 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=568276 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Iftikhar Ahmed
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Runs: 814</h3>
                    <p> Innings: <b> 49 </b>
                      Average: <b> 28.07 </b> </p>


                 </div>
               </a>233901


               <a href="{% url 'player_details' pk=233901 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shan Masood
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>
                    <h3> Runs: 396 </h3>
                    <p> Innings: <b> 19 </b>
                      Average: <b> 30.46 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=1205559 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/8pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mohammad Haris
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Runs: 126 </h3>
                    <p> Innings: <b> 9 </b>
                      Average: <b> 14 </b> </p>
                 </div>
               </a>
            </div>
           </div>

           <div class="tab-pane fade" id="runtest" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="{% url 'player_details' pk=323389 %}" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/2pak.png' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Mohammad Rizwan
                       <span style="color: green" class="d-block"> PAK
                          </span> </h5>

                     <h3> Runs: 1423 </h3>
                     <p> Innings: <b> 28 </b>
                       Average: <b> 39.53 </b> </p>


                  </div>
               </a>

               <a href="{% url 'player_details' pk=348144 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/1pak.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Babar Azam (TEST)
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Runs: 3772 </h3>
                    <p> Innings: <b> 49 </b>
                      Average: <b> 47.75 </b> </p>


                 </div>
               </a>

               <a href="{% url 'player_details' pk=568276 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Imam-ul-Haq
                      <span style="color: green" class="d-block"> PAK
                        </span> </h5>

                    <h3> Runs: 1474 </h3>
                    <p> Innings: <b> 22 </b>
                      Average: <b> 38.79 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=233901 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/6pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shan Masood
                      <span style="color: green" class="d-block"> PAK (Captain)
                         </span> </h5>

                    <h3> Runs: 30 </h3>
                    <p> Innings: <b> 1597 </b>
                      Average: <b> 28.52 </b> </p>


                 </div>
               </a>


               <a href="{% url 'player_details' pk=227760 %}" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/7pak.png' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Sarfaraz Ahmed
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Runs: 3024 </h3>
                    <p> Innings: <b> 53 </b>
                      Average: <b> 38.27 </b> </p>


                 </div>
               </a>


            </div>
           </div>
        </div>

{% endblock content1 %}
{% block content2 %}
<div class="tab-content mt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="wtodi" role="tabpanel">
            <div class="teams-slider05 owl-carousel owl-theme">
               <a href="#" class="plya-id d-inline-block w-100">
                  <div class="teams-oine">
                   <img alt="tem" src="{% static 'cricketlive/images/1bpak.jpg' %}"/>
                   <div class="btn btn-video"> View Profile </div>
                  </div>
                  <div class="texr-divb">
                     <h5> Shaheen Afridi (ODI)
                       <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                     <h3> Wickets: 104 </h3>
                     <p> Innings: <b> 53 </b>
                       Average: <b> 23.94 </b> </p>


                  </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/2bpak.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Naseem Shah
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Wickets: 32 </h3>
                    <p> Innings: <b> 14 </b>
                      Average: <b> 16.97 </b> </p>


                 </div>
               </a>

               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/3bpak.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Haris Rauf
                      <span style="color: green" class="d-block"> PAK
                       </span> </h5>

                    <h3> Wickets: 69 </h3>
                    <p> Innings: <b> 37 </b>
                      Average: <b> 26.41 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/4bpak.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Shadab Khan
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Wickets: 85 </h3>
                    <p> Innings: <b> 70 </b>
                      Average: <b> 34.82 </b> </p>


                 </div>
               </a>


               <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/5bpak.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Mohammad Nawaz
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Wickets: 42 </h3>
                    <p> Innings: <b> 37 </b>
                      Average: <b> 35.88 </b> </p>


                 </div>
               </a>
                <a href="#" class="plya-id d-inline-block w-100">
                 <div class="teams-oine">
                  <img alt="tem" src="{% static 'cricketlive/images/11bpak.jpg' %}"/>
                  <div class="btn btn-video"> View Profile </div>
                 </div>
                 <div class="texr-divb">
                    <h5> Hassan Ali
                      <span style="color: green" class="d-block"> PAK
                         </span> </h5>

                    <h3> Wickets: 100 </h3>
                    <p> Innings: <b> 66 </b>
                      Average: <b> 30.84 </b> </p>


                 </div>
               </a>







            </div>
        </div>

        <div class="tab-pane fade" id="wtt20" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
            <a href="player-details.html" class="plya-id d-inline-block w-100">
               <div class="teams-oine">
                <img alt="tem" src="{% static 'cricketlive/images/1bpak.jpg' %}"/>
                <div class="btn btn-video"> View Profile </div>
               </div>
               <div class="texr-divb">
                  <h5> Shaheen Afridi (T20)
                    <span style="color: green" class="d-block"> PAK(Captain)
                      </span> </h5>

                  <h3> Wickets: 64 </h3>
                  <p> Innings: <b> 52 </b>
                    Average: <b> 22.73 </b> </p>


               </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Naseem Shah
                   <span style="color: green" class="d-block"> PAK
                     </span> </h5>

                 <h3> Wickets: 15 </h3>
                 <p> Innings: <b> 19 </b>
                   Average: <b> 34.67 </b> </p>


              </div>
            </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/3bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Haris Rauf
                   <span style="color: green" class="d-block"> PAK
                     </span> </h5>

                 <h3> Wickets: 83 </h3>
                 <p> Innings: <b> 62 </b>
                   Average: <b> 21.7 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/4bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Shadab Khan
                   <span style="color: green" class="d-block"> PAK
                     </span> </h5>

                 <h3> Wickets: 104 </h3>
                 <p> Innings: <b> 92 </b>
                   Average: <b> 22.12 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/5bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Mohammad Nawaz
                   <span style="color: green" class="d-block"> PAK
                     </span> </h5>

                 <h3> Wickets: 47 </h3>
                 <p> Innings: <b> 57 </b>
                   Average: <b> 26.77 </b> </p>


              </div>
            </a>


            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/11bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Hassan Ali
                   <span style="color: green" class="d-block"> PAK
                     </span> </h5>

                 <h3> Wickets: 60 </h3>
                 <p> Innings: <b> 50 </b>
                   Average: <b> 23.57 </b> </p>


              </div>
            </a>




         </div>
        </div>

        <div class="tab-pane fade" id="wttest" role="tabpanel">
         <div class="teams-slider05 owl-carousel owl-theme">
          <a href="#" class="plya-id d-inline-block w-100">
            <div class="teams-oine">
             <img alt="tem" src="{% static 'cricketlive/images/1bpak.jpg' %}"/>
             <div class="btn btn-video"> View Profile </div>
            </div>
            <div class="texr-divb">
               <h5> Shaheen Afridi (TEST)
                 <span style="color: green" class="d-block"> PAK
                   </span> </h5>

               <h3> Wickets: 105 </h3>
               <p> Innings: <b> 27 </b>
                 Average: <b> 25.58 </b> </p>


            </div>
          </a>

            <a href="player-details.html" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/2bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Naseem Shah
                   <span style="color: green" class="d-block"> PAK
                    </span> </h5>

                 <h3> Wickets: 51 </h3>
                 <p> Innings: <b> 17 </b>
                   Average: <b> 33.82 </b> </p>


              </div>
            </a>

            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/6bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Abrar Ahmed
                   <span style="color: green" class="d-block"> PAK
                    </span> </h5>

                 <h3> Wickets: 38 </h3>
                 <p> Innings: <b> 6 </b>
                   Average: <b> 31.08 </b> </p>


              </div>
            </a>


            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/10bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Noman Ali
                   <span style="color: green" style="color: green" class="d-block"> PAK
                     </span> </h5>

                 <h3> Wickets: 47  </h3>
                 <p> Innings: <b> 15 </b>
                   Average: <b> 33.53 </b> </p>


              </div>
            </a>


            <a href="#" class="plya-id d-inline-block w-100">
              <div class="teams-oine">
               <img alt="tem" src="{% static 'cricketlive/images/11bpak.jpg' %}"/>
               <div class="btn btn-video"> View Profile </div>
              </div>
              <div class="texr-divb">
                 <h5> Hassan Ali
                   <span style="color: green" class="d-block"> PAK
                     </span> </h5>

                 <h3> Wickets: 78 </h3>
                 <p> Innings: <b> 22 </b>
                   Average: <b> 25.68 </b> </p>


              </div>
            </a>


         </div>
        </div>
     </div>
{% endblock content2 %}
